.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.nav {
  display: flex;
}

.nav > li {
  margin-right: 30px;
  list-style-type: none;
}

.nav-link{
  color: white;
  text-decoration: none;
}

.login-form {
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  width: 50%;
}

.login-form button{
  margin-top: 30px; 
}

.listings {
  margin-top: 30px;
}

.add-listing-form {
  width: 45%;
}

.listing { 
  display: flex;
  flex-direction: column;
  padding: 60px 100px;
  max-width: 300px;
}

.listing > p {
  line-height: 160%;
}

.listing > h3 {
  margin-bottom: 0px;
  margin-top: 5px;
}

.add-listing-form {
  width: 40%;
}

.add-listing-input {
  width: 100%;
  margin-top: 10px;
}

.add-listing-form .add-listing-button {
  width: 50%;
  background-color: #3f51b5;
  color: white;
  margin-top: 30px; 
}

.logged-in-bar {
  height: 30px; 
  display: flex;
  align-items: center;
  background-color: #ebebeb;
  padding-left: 40px;
  font-size: 9pt !important;
  font-style: italic;
}

.app-bar {
  padding-left: 16px;
}

.leaflet-map { 
  height: 300px;
  width: 100%; 
}
